body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100%;
}

h1 {
    
    font-weight: normal;
    margin: 0 0;
    padding: 0;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    color: rgb(83, 99, 124);
    margin: 0 2px;
    padding: 0;
    font-size: 18px;
}

h3 {
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

h4 {
    font-weight: 450;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 17px;
    font-weight: normal;
    color: rgb(94, 94, 94);
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-style: normal;
}

img {
    border-radius: 50%;
    border: 3px solid rgb(240, 240, 240);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
    color: #53637C;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.img1 {
    background-image: url("img2bw.png");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background-image: url("img1bw.png");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url("img4bw.png");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    padding-left: 5px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block {
    background-color: white;
    margin: 0;
    padding: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}