<<<<<<< HEAD
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: overlay;
    margin: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(83, 99, 124);
    border-radius: 0.3em;
}

h1 {
    font-weight: normal;
    margin: 0 0;
    padding: 0;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    color: rgb(83, 99, 124);
    margin: 0 2px;
    padding: 0;
    font-size: 18px;
}

h3 {
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

h4 {
    font-weight: 450;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 17px;
    font-weight: normal;
    color: rgb(94, 94, 94);
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-style: normal;
}

img {
    border-radius: 50%;
    border: 3px solid rgb(240, 240, 240);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
    color: #53637C;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

input {
    font-size: 17px;
    display: block;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(83, 99, 124);
    text-align: left;
    background: none;
    margin: 5px 0;
    padding: 2px;
    border-radius: 0;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(83, 99, 124);
    text-align: left;
    background: none;
    margin: 5px 0;
    padding: 2px;
    border-radius: 0;
}

button {
    font-size: 17px;
    text-align: center;
    color: white;
    margin: 5px 0;
    padding: 15px 0;
    width: 25%;
    border: none;
    border-radius: 0;
    background-color: rgb(83, 99, 124);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: #F8F8FF;
}
.img1 {
    background-image: url("img2bw.png");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background-image: url("img1bw.png");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url("img4bw.png");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    padding-left: 5px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block {
    background-color: white;
    margin: 0;
    padding: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

@media screen and (max-width: 1014px) {
    .row {
        flex-wrap: wrap;
    }
    .column {
        flex: 100%;
    }

    h1 {
        font-size: 3.95vw;
    }

    h2 {
        font-size: 1.78vw;
    }
=======
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: overlay;
    margin: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(83, 99, 124);
    border-radius: 0.3em;
}

h1 {
    
    font-weight: normal;
    margin: 0 0;
    padding: 0;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    color: rgb(83, 99, 124);
    margin: 0 2px;
    padding: 0;
    font-size: 18px;
}

h3 {
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

h4 {
    font-weight: 450;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 17px;
    font-weight: normal;
    color: rgb(94, 94, 94);
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-style: normal;
}

img {
    border-radius: 50%;
    border: 3px solid rgb(240, 240, 240);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
    color: #53637C;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

input {
    font-size: 17px;
    display: block;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(83, 99, 124);
    text-align: left;
    background: none;
    margin: 5px 0;
    padding: 2px;
    border-radius: 0;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(83, 99, 124);
    text-align: left;
    background: none;
    margin: 5px 0;
    padding: 2px;
    border-radius: 0;
}

button {
    font-size: 17px;
    text-align: center;
    color: white;
    margin: 5px 0;
    padding: 15px 0;
    width: 25%;
    border: none;
    border-radius: 0;
    background-color: rgb(83, 99, 124);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: #F8F8FF;
}
.img1 {
    background-image: url("img2bw.png");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background-image: url("img1bw.png");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url("img4bw.png");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    padding-left: 5px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block {
    background-color: white;
    margin: 0;
    padding: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
>>>>>>> 43b2675d42ab0b0bf0f0ebe3a3dc6395d09242b6
}